<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="uk.co.rlsg.apps.xml_editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <uk.co.rlsg.apps.xml_editor.Properties.Settings>
            <setting name="XML_Indent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XML_IndentChars" serializeAs="String">
                <value />
            </setting>
            <setting name="XML_NewLineOnAttributes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EOL_UNIX" serializeAs="String">
                <value>True</value>
            </setting>
        </uk.co.rlsg.apps.xml_editor.Properties.Settings>
    </userSettings>
</configuration>